{% extends "base.html" %} {% block content %}
<div class="content">
  <h1>Railway Operator Rankings</h1>
  <p>
    The Public Performance Measure (PPM) is the percentage of trains that arrive
    ‘on time’ at their destination. The definition of ‘on time’ depends on
    whether a service is categorised as long-distance (up to 10 minutes late) or
    short-distance (up to 5 minutes late).
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Operator</th>
        <th>PPM (7 day avg)</th>
        <th>PPM (30 day avg)</th>
        <th>PPM (90 day avg)</th>
      </tr>
    </thead>
    <tbody>
      {% for operator in rankings %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ operator.name }}</td>
        <td>{{ operator.average_rating_7_days }}</td>
        <td>{{ operator.average_rating_30_days }}</td>
        <td>{{ operator.average_rating_90_days }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    Source: Network Rail open data platform. Table sorted by the seven-day
    average.
  </p>
</div>
{% endblock %}
