{% extends "base.html" %} {% block content %}
<div class="content">
  <h1>Railway Operator Rankings</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Operator</th>
        <th>PPM (7 day avg)</th>
        <th>PPM (30 day avg)</th>
        <th>PPM (90 day avg)</th>
      </tr>
    </thead>
    <tbody>
      {% for operator in rankings %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ operator.name }}</td>
        <td>{{ operator.average_rating_7_days }}</td>
        <td>{{ operator.average_rating_30_days }}</td>
        <td>{{ operator.average_rating_90_days }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
